# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# Data
data/raw/*.csv
data/processed/*.parquet

# OS
.DS_Store
Thumbs.db
